@use "sass:map" as map;
@use "../../../stylesheets/util" as util;
@use "../../../stylesheets/color" as color;
@use "../../../stylesheets/radius" as radius;
@use "../../../stylesheets/mixin" as mixin;
@use "../../../stylesheets/config" as config;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  white-space: nowrap;
  color: map.get(color.$colorMap, white);
  background-color: map.get(color.$colorMap, pulse-blue);
  border-radius: map.get(radius.$border-radius, default);
  box-shadow: util.rem(1) util.rem(1) util.rem(1) map.get(color.$colorMap, pulse-blue),
  inset util.rem(1) util.rem(1) util.rem(1) map.get(color.$colorMap, blur-lighter);
  height: util.rem(30);
  padding: util.rem(0) util.rem(4) util.rem(0) util.rem(4);
  width: 100%;

  & label {
    font-size: util.bu(1.3);
  }

  &:hover {
    background-color: map.get(color.$colorMap, hover-blue);
  }

  &:active {
    position: relative;
    top: 0.8px;
  }

  & label:hover {
    cursor: pointer;
  }

  &--datebar {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-weight: bold;

    &:hover {
      cursor: default;
      background-color: map.get(color.$colorMap, pulse-blue);
    }

    & label:hover {
      cursor: default;
    }

    &:active {
      top: 0;
    }
  }

  &--login {
    margin: util.rem(10) util.rem(0) util.rem(10) util.rem(0);
    height: util.rem(50);

    @include mixin.breakpoint(map.get(config.$breakpoints, small)) {
      height: util.rem(45);
    }
  }

  &--blue {
    background-color: map.get(color.$colorMap, pulse-blue);
  }

  &--white {
    background-color: map.get(color.$colorMap, white);

    label {
      color: map.get(color.$colorMap, black);
    }
  }

  &--spaced {
    margin: 0 util.rem(6) 0 util.rem(0);
  }

  &--small {
    max-width: util.rem(40);
  }

  &--tiny {
    max-width: util.rem(20);
  }

  &--icon {
    padding: util.rem(1);
    box-shadow: none;
    width: 75%;
    background-color: transparent;

    &:hover {
      background-color: transparent;
    }

    label {
      color: map.get(color.$colorMap, black);
    }
  }

  &--chart {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: util.rem(2) util.rem(2) 0 util.rem(2);
    height: util.rem(12);
    width: util.rem(18);
    padding: util.rem(0);
    box-shadow: none;

    &:hover {
      background-color: map.get(color.$colorMap, white);
    }
  }

  &--chartbar {
    height: util.rem(15);
    margin-left: util.rem(2);
  }

  &__label {

    &--upper {
      margin-top: -5%;
      height: 50%;
    }

    &--lower {
      font-weight: normal;
      font-size: util.rem(8);
      height: 50%;
    }
  }
}
