.tooltipRect {
  border-radius: 10px;
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .7));
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .7));
}

.chartHeader {
  display: flex;
  justify-content: center;
  font-weight: bold;
}
