.contentContainer {
  display: flex;
  flex-direction: column;
  background-color: #252529;
  color: wheat;
  width: 100%;
}

.contentContainerScreen {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.topBar {
  display: flex;
  position: sticky;
  background-color: #252529;
  cursor: pointer;
  top: 0;
  z-index: 3;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid;
  height: 10%;
  width: 100%;
}

.topBarImage {
  position: absolute;
  left: 0;
  display: flex;
  margin: 10px;
  height: 80%;

  &:active {
    top: 1px;
  }
}

.navBar {
  display: flex;
  position: sticky;
  z-index: 2;
  top: 0;
  flex-direction: row;
  width: 99.7%;

  & button {
    width: 100%;
  }

  & label {
    @media only screen and (max-device-width: 480px) {
      font-weight: bold;
      font-size: 8px;
    }

    @media only screen and (max-device-width: 800px) {
      font-weight: bold;
      font-size: 8px;
    }
  }
}

.sideBar {
  display: flex;
  flex-direction: column;
  border: 1px solid wheat;
  transition: 0.4s;
  width: 14%;

  @media only screen and (max-device-width: 480px) {
    width: 0;
    border: none;
  }
}

.articleBar {
  height: 80px;
  width: 100%;
  margin-top: 2px;
  border: 1px solid wheat;
  background-color: #75B7E5;
  cursor: pointer;

  &:hover {
    position: relative;
    top: 0.8px;
  }
}

.articleBox {
  height: 240px;
  border-radius: 20px;
  margin: 5%;
  flex: 0 0 23%;
  position: relative;
  z-index: 1;
  color: wheat;
  border: 1px solid wheat;
  cursor: pointer;

  @media only screen and (max-device-width: 480px) {
    min-width: 40%;
    height: 180px;
  }

  > h1 {
    background-color: #252529;
    padding: 10px;
  }

  &:hover {
    position: relative;
    z-index: 1;
    top: 0.8px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  white-space: nowrap;
  color: white;
  background-color: #53A5DF;
  box-shadow: 1px 1px 1px #101733,
  inset 0px 0.5px 3px #101733;
  height: 30px;
  width: 100%;
  border: 0;
  padding: 3px;
  font-family: inherit;
  cursor: pointer;

  &:active {
    position: relative;
    top: 0.8px;
  }

  &:hover {
    background-color: #75B7E5;
  }
}

.activeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  white-space: nowrap;
  color: white;
  background-color: #75B7E5;
  box-shadow: 1px 1px 1px #101733,
  inset 0px 0.5px 3px #101733;
  height: 30px;
  width: 100%;
  border: 0;
  padding: 3px;
  font-family: inherit;
  cursor: pointer;

  &:active {
    position: relative;
    top: 0.8px;
  }

  &:hover {
    background-color: #75B7E5;
  }
}
